# macOS
.DS_Store

# Go
/backend/vendor/
/backend/*.exe
/backend/*.log

# Flutter
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.pub-cache/
/mobile/build/
/mobile/*.iml
/mobile/.idea/